@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  background: linear-gradient(#2b1055, #7597de);
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  list-style: none;
  margin-left: 20px;
}
header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}
header ul li a:hover,
header ul li a.active {
  background: #fff;
  color: #2b1055;
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 99;
}
section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
section img#moon {
  mix-blend-mode: screen;
}
section img#mountains_front {
  z-index: 10;
}
section h2 {
  line-height: 7vh;
  transform: translateY(-6vh);
}

section h2 span#full {
  color: #fff;
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 1.8vw;
}

section h2 span#plus {
  color: #5172b8;
}

#text {
  position: absolute;
  /* bottom: 480px; */
  bottom: 45%;
  color: #fff;
  white-space: nowrap;
  font-size: 3.5vw;
  z-index: 9;
  text-align: left;
}
#btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background: #fff;
  color: #2b1055;
  font-size: 1.5em;
  z-index: 9;
  transform: translateY(11vh);
}

/* ----------------About--------------------- */
.container {
  position: relative;
  padding: 50px;
}
#about {
  padding: 50px 0;
  color: #ead2ac;
  background: #1c0522;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 35%;
  align-items: right;
}
.about-col-1 img {
  border-radius: 15px;
  /* width: 100%; */
  margin-left: auto;
  transform: translateX(7vw);
}
.about-col-2 {
  flex-basis: 60%;
}
.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}
.about-col-2 p {
  text-align: justify;
  font-size: large;
}
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
  background: #823bce;
}
.tab-links.active-link::after {
  width: 50%;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  color: #975cd6;
  font-size: 14px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}

#me {
  height: 72vh;
  width: 53vh;
}

/* ----------services----------- */
#services {
  color: #fff;
  background: #1c0522;
  padding: 10px 0;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div {
  background: #768fc7;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
  text-align: justify;
}
.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}
.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.services-list div:hover {
  background: #5a2593;
  transform: translateY(-10px);
}

/* --------------------work----------------------------- */
#portfolio {
  color: #fff;
  background: #1c0522;
  padding: 30px 0;
}

/* -----------------contact------------------------- */
#contact {
  color: #fff;
  background: #1c0522;
  padding: 30px 0;
}
.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}
.contact-left p {
  margin-top: 30px;
}
.contact-left p i {
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}
.social-icons {
  margin-top: 30px;
}
.social-icons a {
  padding: 0 10px;
  text-decoration: none;
  font-size: 30px;
  margin-right: 15ox;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover {
  color: #8fc;
  transform: translateY(-5px);
}
.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #5172b8;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  background-color: #1c0522;
  transition: background 0.5s;
}
.btn:hover {
  background: #5172b8;
}
.btn.btn2 {
  display: inline-block;
}
.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #768fc7;
  padding: 15px;
  margin: 15px;
  font-size: 18px;
  border-radius: 6px;
  color: #fff;
}
form button {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  color: #2b1055;
}
.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #2b1055;
  font-weight: 300;
  margin-top: 20px;
}

/* original styling 
.sec {
  position: relative;
  padding: 100px;
  background: #1c0522;
}
.sec h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #fff;
}
.sec p {
  font-size: 1em;
  color: #fff;
} */
